<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Wu tang Name Generator</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<h1>Wu Tang Generator</h1>

		<p>This is a Wu Tang Name Generator! Enter in your info and click the button to find out your new name.</p>

		<div id="container">
		<form id="form" action="/template/index.html">

			<label for="name">What's ya first name?</label> 
			<input type="text" id="oldFirstName" placeholder="Enter Your first name." required>

			<label for="name">What's ya last name?</label> 
			<input type="text" id="oldLastName" placeholder="Enter Your last name." required>

			<label for="city">Where you from?</label> 
			<input type="text" id="city" placeholder="Enter Your city." required>

			<label for="email">What's ya email?</label> 
			<input type="email" id="email" placeholder="Enter Your email.">

			<label for="question">What Rules Everything Around you?</label> 
			<input type="text" id="question" placeholder="Get The Money, Dollar, Dollar Bills Y'all." required>

		</form>
		</div>
		<button id="nameButton">Get Ya Name!</button>
		<button id="resetButton">Reset</button>

		<h2 id="result"></h2>



		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
